################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/x64/Debug
/enc_temp_folder/7a68f1c8808b901fa780e5cc607bf828
